@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --font-family: 'Inter' , sans-serif;
    
    --green : hsl(75, 94%, 57%);
    --white : hsl(0, 0%, 100%);
    --grey : hsl(0, 0%, 20%);
    --dark-grey : hsl(0, 0%, 12%);
    --off-black : hsl(0, 0%, 8%);

    --font-size : 14px;
    --font-weights-S : 400;
    --font-weights-M : 600;
    --font-weights-L : 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-size: var(--font-size);
    font-family: var(--font-family);
}

.page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--off-black);
}

.page__container{
    position: absolute;
    background-color: var(--dark-grey);
    padding: 25px;
    width: 200px;
    border-radius: 10px;
}

.page__container-profile{
   display: flex;
   flex-direction: column;
   align-items: center; 
}

.page__container-profile img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}


.page__container-profile  p:first-of-type{
    margin-top: 20px;
    color: var(--white);
    font-size: 15px;
    font-weight: var(--font-weights-S);
    letter-spacing: .5px;
}

.page__container-profile p:nth-child(3) {
    margin-top: 5px;
    color: var(--green);
    font-size: 8px;
    letter-spacing: .5px;
}

.page__container-profile  p:last-child{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #d8d0d0;
    font-size: 10px;

}

.page__container-links{
    display: flex;
    flex-direction: column;
}

.page__container-links button{
    margin-top: 10px;
    padding: 7px 0;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 10px;
    font-weight: var(--font-weights-M);
    background-color: var(--grey);
    color: var(--white);
}

button:focus ,button:hover{
    background-color: var(--green);
    color: var(--grey);
    cursor: pointer;
  }
